@using Model.EF

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
@{ 
    ThanhVien tv = (ThanhVien)ViewBag.TV;
    int x =0;

    var link = "/don-hang/" + tv.MaThanhVien+"-"+x;
}

<div class="col-md-9 product1">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Thông tin cá nhân</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img src="~/Content/client/images/ban661.jpg" class="img-circle img-responsive" /><br /> <span>@tv.MaThanhVien</span> </div>
                        <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                          <dl>
                            <dt>DEPARTMENT:</dt>
                            <dd>Administrator</dd>
                            <dt>HIRE DATE</dt>
                            <dd>11/12/2013</dd>
                            <dt>DATE OF BIRTH</dt>
                               <dd>11/12/2013</dd>
                            <dt>GENDER</dt>
                            <dd>Male</dd>
                          </dl>
                        </div>-->

                        <div class="col-md-9 col-lg-9">
                            <table class="table table-user-information">


                                <tbody>
                                  
                                    <tr>                                       
                                        <td>Họ tên:</td>
                                        <td>@tv.Hoten</td>
                                    </tr>
                                    <tr>
                                        <td>Loại thành viên</td>
                                        <td>@tv.LoaiThanhVien.TenLoai</td>
                                    </tr> 
                                    <tr>
                                        <td>Tài khoản:</td>
                                        <td>@tv.TaiKhoan</td>
                                    </tr>
                                    <tr>
                                        <td>Mật khẩu:</td>
                                        <td>@tv.MatKhau</td>
                                    </tr>                                                                
                                    <tr>
                                        <td>Địa chỉ</td>
                                        <td>@tv.DiaChi</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="truongson679@gmail.com">truongson679@gmail.com</a></td>
                                    </tr>
                                    <tr>
                                        <td>Số điện thoại</td>
                                        <td>
                                            @tv.SoDienThoai
                                        </td>

                                </tr>

                                </tbody>

                            </table>
                           
                            <a href="#" class="btn btn-primary">Cập nhật ảnh đại diện</a>
                            <a href="@link" class="btn btn-primary">Xem danh sách đơn hàng</a>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    
                        @*<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>*@
                        <a href="@Url.Action("ChinhSua","KhachHang")" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"  title="Chỉnh sửa thông tin"><img style="width:20px;height:21px;" src="~/Content/client/images/editt.png" alt="" title="Trang cá nhân" /></a>
                   
                </div>

            </div>
        </div>
    </div>
    </div>

     <script>
        $(document).ready(function () {
            var panels = $('.user-infos');
            var panelsButton = $('.dropdown-user');
            panels.hide();

            //Click dropdown
            panelsButton.click(function () {
                //get data-for attribute
                var dataFor = $(this).attr('data-for');
                var idFor = $(dataFor);

                //current button
                var currentButton = $(this);
                idFor.slideToggle(400, function () {
                    //Completed slidetoggle
                    if (idFor.is(':visible')) {
                        currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                    }
                    else {
                        currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                    }
                })
            });


            $('[data-toggle="tooltip"]').tooltip();

            $('button').click(function (e) {
                e.preventDefault();
                alert("This is a demo.\n :-)");
            });
        });
    </script>
