@using Model.EF
@model IEnumerable<ChiTietDonDatHang>
@{
    ViewBag.Title = "DonHangDaDuyet";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var tt = ViewBag.ThongTin as ChiTietDonDatHang;
}
@section scriptsdatatable{
    <script src="~/Areas/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/assets/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/assets/datatables-responsive/dataTables.responsive.js"></script>
}
<h2>Đơn hàng </h2>

@section dataTables{
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true,
                "lengthMenu": [[1, 2, 5, -1], [1, 2, 5, "All"]]
            });
        });
    </script>
}
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example" >
    <thead>
        <tr>

            <th>Mã đơn đặt hàng</th>
            <th>Mã khách hàng</th>            
            <th>Địa chỉ giao</th>
            <th>Ngày đặt</th>
            <th>Nhân Viên Giao Hàng</th>
            <th>Tình trạng giao</th>
            <th>Tổng tiền</th>
            <th>#</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupBy(n=>n.DonDatHang))
        {
            <tr @*id="row_@item.MaDDH"*@>

                <td>@item.Key.MaDDH</td>
                <td>@item.Key.MaKH</td>              
                <td>@item.Key.KhachHang.DiaChi</td>
                <td>@item.Key.NgayDat</td>
                <td>@item.Key.NVGiaoHang</td>
                @if (item.Key.TinhTrangGH == 0)
                {
                    <td>Tiến hành giao</td>
                }
                else if (item.Key.TinhTrangGH == 1)
                {
                    <td>Đã giao</td>
                }
                else if (item.Key.TinhTrangGH == 2)
                {
                    <td>Không nhận</td>
                }
                <td>@(item.Key.TongTien.Value.ToString("#,##")) VNĐ </td>
                <td>
                    <a href="@Url.Action("Edit","CapNhat", new { id = item.Key.MaDDH })">Cập nhật TTGH </a>
                    <input type="button" value="In đơn hàng" id="btnInDonHang" />
                    <table class="table" id="table" style="display: none;">
                        <tr>
                            <td>Mã Đơn hàng:  @item.Key.MaDDH</td>

                            <td>Mã khách hàng:  @item.Key.MaKH</td>
                            <td><br /></td>
                            <td>Tên khách hàng:  @item.Key.KhachHang.TenKH</td>
                            <td>SĐT:  @item.Key.KhachHang.SoDienThoai</td>
                            <td><br /></td>
                            <td>Địa chỉ giao:  @item.Key.KhachHang.DiaChi</td>
                            <td>Ngày đặt:  @item.Key.NgayDat</td>
                            <td><br /></td>
                            <td>+ Danh sách sản phẩm:</td>
                            <td><br /></td>
                            @foreach (var item1 in Model)
                            {
                                <td>Mã sản phẩm: @item1.MaSP</td>
                                <td>Tên sản phẩm: @item1.TenSP</td>
                                <td><br /></td>
                                <td>----------------------------</td>
                                <td><br /></td>
                            }

                            <td>Tổng tiền:  @item.Key.TongTien</td>
                        </tr>
                    </table>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDDH })*@                
                </td>
            </tr>
        }
    </tbody>

</table>



<script>

    $("#btnInDonHang").click(function () {
        var content = $("#table").html();
        InDonHang(content);
    });
    //phuong thuc in don hang

    function InDonHang(content) {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>Thông Tin đơn hàng</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>


