@using DATNWEB.Models;
@model ItemGioHang
@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
@{ 
    List<ItemGioHang> listGioHang = ViewBag.GioHang as List<ItemGioHang>;
}
<div class="col-md-9 product1">
    <table class="table">
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Hình ảnh</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
        </tr>

        @foreach (var item in listGioHang)
        {
            //sản phẩm có mã sp được chỉnh sửa gửi từ tham số bên trang giỏ hàng
            if (Model.MaSP == item.MaSP)
            {
                using (Html.BeginForm("CapNhatGioHang", "GioHang", FormMethod.Post, new { id = "your_form_id" }))
                {
                    @Html.ValidationSummary()
                    <tr>
                        <td>@item.MaSP@Html.Hidden("MaSP",item.MaSP)</td>
                        <td>@item.TenSP</td>
                        <td><img src="@Url.Content(item.HinhAnh)" width="150" height="50" /></td>
                        <td >@Html.TextBox("SoLuong", item.SoLuong, htmlAttributes: new { @class = "txtSoLuong" })</td>
                        <td>@item.DonGia.ToString("#,##")</td>
                        <td>@item.ThanhTien</td>
                        @*<td >
                          
                            @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })
                        </td>*@
                        <td>
                            <input onclick="kiemtrasoluong()"  type="submit" value="Cập nhật" />
                         
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content(item.HinhAnh)" width="150" height="50" /></td>
                    <td>@item.SoLuong</td>
                    <td>@item.DonGia.ToString("#,##")</td>
                    <td>@item.ThanhTien</td>
                    <td>@Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP }, new { @class = "btn btn-success" })</td>
                </tr>
            }
        }
    </table>
</div>
<script>
    $("#your_form_id").submit(function (e) { // note that it's better to use form Id to select form
        if (isNaN($(".txtSoLuong").val()) == true)//|| $("#YourDropDownID").val() == '') // here you check your drop down selected value
        {
            alert("Sai định dạng số!!");
            e.preventDefault(); // here you stop submitting form
        }
        if ($(".txtSoLuong").val() <0) {
            alert("Số lượng không được nhỏ hơn 0!!");
            e.preventDefault();
        }
        if ($(".txtSoLuong").val() >=10 ) {
            alert("Số lượng đặt phải nhỏ hơn 10!!");
            e.preventDefault();
        }
    })
</script>

