@model  IEnumerable<Model.EF.SanPham>

<div class="content-top-bottom">
    <div class="col-md-6 men">
        <a href="@Url.RouteUrl("XemChiTiet",new { @id=Model.ElementAt(0).MaSP,@tensp= @Model.ElementAt(0).TenSP})" class="b-link-stripe b-animate-go  thickbox">
            @* @Url.Content("~/Content/client/imgsp/"+Model.ElementAt(0).HinhAnh) *@
            <img class="img-responsive" src="@Url.Content(Model.ElementAt(0).HinhAnh)" alt="">
            <div class="b-wrapper">
                <h3 class="b-animate b-from-top top-in   b-delay03 ">
                    <span>@(Model.ElementAt(0).DonGia.HasValue?Model.ElementAt(0).DonGia.Value.ToString("N0") : "Liên Hệ") VNĐ</span>
                   @*@(item.DonGia.HasValue ? item.DonGia.Value.ToString("N0") : "Liên hệ") VNĐ*@
                </h3>
            </div>
        </a>
        <h3>@Model.ElementAt(0).TenSP</h3>

    </div>

    <style>
    .text-font-size-10{
        font-size:10pt;
    }
    .text-font-size-6{
        font-size:6pt;
    }
    .text-font-size-8{
        font-size:8pt;
    }
    .text-font-size-8{
        font-size:8pt;
    }


    </style>
    <div class="col-md-6">
        <div class="col-md1 ">
            <a href="@Url.RouteUrl("XemChiTiet",new { @id=Model.ElementAt(1).MaSP,@tensp= @Model.ElementAt(1).TenSP})" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                        <span>@(Model.ElementAt(1).DonGia.HasValue ? Model.ElementAt(1).DonGia.Value.ToString("N0") : "Liên Hệ") VNĐ</span>
                    </h3>
                </div>
            </a>
            <h3>@Model.ElementAt(1).TenSP</h3>
        </div>
        <div class="col-md2">
            <div class="col-md-6 men1">
              <a href="@Url.RouteUrl("XemChiTiet",new { @id=Model.ElementAt(2).MaSP,@tensp= @Model.ElementAt(2).TenSP})" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="@Url.Content(Model.ElementAt(2).HinhAnh)" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                            <span>@(Model.ElementAt(2).DonGia.HasValue ? Model.ElementAt(2).DonGia.Value.ToString("N0") : "Liên Hệ") VNĐ</span>
                        </h3>
                    </div>
                </a>
                <h3>@Model.ElementAt(2).TenSP</h3>
            </div>
            <div class="col-md-6 men2">
                <a href="@Url.RouteUrl("XemChiTiet",new { @id=Model.ElementAt(1).MaSP,@tensp= @Model.ElementAt(3).TenSP})" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="@Url.Content(Model.ElementAt(3).HinhAnh)" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                            <span>@(Model.ElementAt(3).DonGia.HasValue ? Model.ElementAt(3).DonGia.Value.ToString("N0") : "Liên Hệ") VNĐ</span>
                        </h3>
                    </div>
                </a>
                <h3>@Model.ElementAt(3).TenSP</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
