@using Model.EF;
@model PhieuNhap
@{
    ViewBag.Title = "NhapHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{ 
    IEnumerable<NhaCungCap> listNCC = ViewBag.MaNCC as IEnumerable<NhaCungCap>;
}
@*Bước 1:Sử dụng control datetimepicker chèn 3 file script*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        $(".date").datepicker();
    });
</script>
<h3>Nhập hàng</h3>
@using (@Html.BeginForm())
{
    <div class="row">
        <div class="ThongTinPhieuNhap col-md-12">
            <div    class="col-md-2">
                Nhà Cung Cấp
            </div>
            <div class="col-md-10">
                @*chọn nhà cung cấp*@
                <select class="MaNCC" name="MaNCC" style="margin-left:10px;">
                    @foreach (var item in listNCC)
                    {
                        <option value="@item.MaNCC">@item.TenNCC</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />

    <div class="col-md-12">
        @*Ngay ngap*@
        <div class="col-md-2">
            Ngày Nhập
        </div>
    <div class="col-md-5">
        <input name="NgayNhap" class="date" />
    </div>
   </div>
   <div class="clearfix"> </div>
   <br /><br /><br />
   @*Phan chi tiet phieu nhap*@
    <table class="table tblChiTietPhieuNhap">
        @{IEnumerable<SanPham> listSanPham = ViewBag.ListSanPham as IEnumerable<SanPham>; }
        <tr class="trAppend" style="display:none;">
            <td>
                <select class="ddlSanPham" name="">
                    @foreach (var item1 in listSanPham)
                    {
                        <option value="@item1.MaSP" >@item1.TenSP</option>
                    }
                </select>
            </td>
            <td>
                <input name="" class="txtDonGia" value="0" />
            </td>
            <td>
                <input name="" class="txtSoLuong" value="0" />
            </td>
            <td>
                <input class="btnDelete btn btn-danger" style="width:30px;height:30px;" value="-" />
            </td>
        </tr>
        <tr class="trFirstChild" data-id="-1">
            <td>Sản Phẩm</td>
            <td>Đơn giá nhập</td>
            <td>Số lượng nhập</td>
            <td></td>
        </tr>
     </table>
     <input type="button" value="+" class="btn btn-success" id="btnAdd"/>
     <input type="submit" value="Nhập hàng" class="btn btn-primary" id="btnNhapHang"/>
}
<script>
    $("#btnAdd").click(function () {
    //buoc 4:
    var id_cuoi = $(".tblChiTietPhieuNhap").find("tr:last-child").attr("data-id");
    i = parseInt(id_cuoi) + 1;
    //buoc 1:Noi dung phia trong the append
    var tdnoidung = $(".trAppend").html();
    //buoc 2:Tao 1 the tr bao ngoai noi dung
    var trnoidung = "<tr class=\"trAppended\" data-id=\"" +i+ "\">" + tdnoidung +"</tr>";
    //buoc 3 append vao table
    $(".tblChiTietPhieuNhap").append(trnoidung);
    loadIDLENTHE();
    });

    function loadIDLENTHE() {
        $(".trAppended").each(function () {
            var id = $(this).attr("data-id");
            var nameMaSanPham = "[" + id + "].MaSP";
            var nameSoLuongNhap = "[" + id + "].SoLuongNhap";
            var nameDonGiaNhap = "[" + id + "].DonGiaNhap";
            $(this).find(".ddlSanPham").attr("name", nameMaSanPham);
            $(this).find(".txtDonGia").attr("name", nameDonGiaNhap);
            $(this).find(".txtSoLuong").attr("name", nameSoLuongNhap);
        })
    }

    function CapNhatID() {
        var id_cuoi = $(".tblChiTietPhieuNhap").find("trFirstChild").attr("data-id");
        i = parseInt(id_cuoi) + 1;
        $(".trAppended").each(function () {
            var id = i;
            $(this).attr("data-id", i);
            //cap nhat lai tr khi xoa
            var nameMaSanPham = "[" + id + "].MaSP";
            var nameSoLuongNhap = "[" + id + "].SoLuongNhap";
            var nameDonGiaNhap = "[" + id + "].DonGiaNhap";
            $(this).find(".ddlSanPham").attr("name", nameMaSanPham);
            $(this).find(".txtDonGia").attr("name", nameDonGiaNhap);
            $(this).find(".txtSoLuong").attr("name", nameSoLuongNhap);
            i++;
        })
    }
    //xự kiện xoa 1 dòng
    $("body").delegate(".btnDelete", "click", function () {

        $(this).closest(".trAppended").remove();
        CapNhatID();
    });

    $("#btnNhapHang").click(function () {
        if (kiemtradongia() == false) {
            //nếu tồn tại 1 gia tri bat ky k phai so thi k cho submit ve server
            return false;
        }
        if (kiemtrasoluong() == false) {
            return false;
        }
       
    });
    function kiemtradongia() {
        var bl = true;
        $(".txtDonGia").each(function () {
            var giatri = $(this).val();
            if (isNaN(giatri) == true) {
                alert("Đơn giá không hợp lệ!!");
                bl = false;
                return bl;
            }
            if (giatri < 0 || giatri == 0) {
                alert("Số lượng không được nhỏ hơn 0 hoặc bằng 0!!");
                bl = false;
                return bl;
            }
        });
        return bl; 
    }

    function kiemtrasoluong() {
        var bl = true;
        $(".txtSoLuong").each(function () {
            var giatri = $(this).val();
            if (isNaN(giatri) == true) {
                alert("Số lượng không hợp lệ!!");
                bl = false;
                return bl;
           
            }
            if (giatri < 0|| giatri==0) {
                alert("Số lượng không được nhỏ hơn 0 hoặc bằng 0!!");
                bl = false;
                return bl;
            }
            
        });
        return bl;
    }
</script>